In [2]:
import setup_django
setup_django.init()

In [3]:
from movies.models import Movie

qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')
qs

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('3.00'), 'rating_count': 60}, {'title': 'Shadows in Paradise', 'release_date': datetime.date(1986, 10, 16), 'rating_avg': Decimal('3.09'), 'rating_count': 56}, {'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('2.90'), 'rating_count': 68}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('2.74'), 'rating_count': 57}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('3.28'), 'rating_count': 54}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('2.88'), 'rating_count': 49}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('3.13'), 'rating_count': 38}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': Decimal('2.65'), 'rating_count': 54}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('2.87'), 'rating_count': 54}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': Decimal('2.95'), 'rating_count': 42}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': Decimal('3.30'), 'rating_count': 71}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': Decimal('3.19'), 'rating_count': 53}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': Decimal('3.06'), 'rating_count': 52}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': Decimal('2.46'), 'rating_count': 57}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': Decimal('3.22'), 'rating_count': 59}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': Decimal('2.89'), 'rating_count': 44}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': Decimal('2.67'), 'rating_count': 52}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': Decimal('3.15'), 'rating_count': 52}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': Decimal('3.27'), 'rating_count': 66}, {'title': '9 Songs', 'release_date': datetime.date(2004, 7, 16), 'rating_avg': Decimal('3.19'), 'rating_count': 47}, '...(remaining elements truncated)...']>

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       3.00            60
1  Shadows in Paradise   1986-10-16       3.09            56
2           Four Rooms   1995-12-09       2.90            68
3       Judgment Night   1993-10-15       2.74            57
4            Star Wars   1977-05-25       3.28            54
5         Finding Nemo   2003-05-30       2.88            49
6         Forrest Gump   1994-07-06       3.13            38
7      American Beauty   1999-09-15       2.65            54
8         Citizen Kane   1941-04-30       2.87            54
9   Dancer in the Dark   2000-05-17       2.95            42

In [8]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('3.00'),
 'rating_count': 60}

In [ ]:
# df.to_csv()